.question-container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: #303030;
  transition: 0.3s;
  min-width: 1300px;
}

.question-container:hover {
  background-color: #3f3f3f;
}

.column {
  color: lightgray;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 54px;
  height: 54px;
  width: 10vw;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column:first-child {
  width: 1vw;
}

.column:last-child {
  width: 10vw;
  min-width: 180px;
}

.column:nth-last-child(2) {
  width: 10vw;
}

.edit-button {
  color: lightgrey;
  margin-left: 10px;
}

.delete-button {
}
